<!--Events template-->
<script type="text/x-kendo-tmpl" id="events-template">
    <div class="event-selectors event-content-id-#= ContentId#">
        <div class="event-favourite km-icon km-favourite favourite-false"></div>
        <div class="event-schedule km-icon km-personalschedule schedule-false"></div>
    </div>
    <div>
        <h1>#= StartTimeInUk# - #=EndTimeInUk# #= Title# # if (AttendanceDuration>0){ #(Allow #= AttendanceDuration# minutes)#} # </h1>
    </div>
	<div class="event-details"><p>#= Description#</p></div>
</script>
    