<!--Events template-->
<script type="text/x-kendo-tmpl" id="events-template">
    <div>
        <div class="position-right">
            <span class="event-favourite km-icon km-favourite favourite-false"></span>
            <span class="event-schedule km-icon km-personalschedule schedule-false"></span>
        </div>
        <div>
            <p>
                <span class="event-info date">${StartTimeInUK}</span>
                <span class="event-title">#:Title#</span>
                # //Events longer than 6 hours effectively last for all the open day.
                if (isAllDayEvent()){
                     if (AttendanceDuration>0){
                #<span class="event-duration-description">(All day - Allow ${AttendanceDuration} minutes)</span>#
                      }
                      else{
                #<span class="event-duration-description">(All day)</span>#
                      }
                }
                else{
                
                #<span class="event-duration-description">(${DurationDescription})</span>#
                }#
            </p>
        </div>
        
        <div class="event-details">
            <p>
                # if (Location.length){ 
                    if (BuildingIds.length){
                #<span class="event-location"><a href="\\#tabstrip-map?buildingId=${BuildingIds[0]}">${Location}</a>: </span>#
                    }
                    else{
                #<span class="event-location">${Location}: </span>#
                    }    
                } #
                <span class="event-description">${Description}</span>
            </p>
        </div>
    </div>
</script>
    