<!--Events template-->
<script type="text/x-kendo-tmpl" id="events-schedule-template">
    <div class="schedule-item" uob-content-id="${ContentId}">
    	<a class="remove-schedule" data-role="button" data-icon="trash"></a>
    	<div class="schedule-movers">
            <div class="event-move-earlier km-icon km-moveup"></div>
            <div class="event-move-later km-icon km-movedown"></div>
        </div>
        <div>
    		
            <h1 class="events-header">#= getScheduledTimeDescription() # #= Title#
    			
		    </h1>
        </div>
        <div class="event-details">
            <p>
                # if (Location && Location.length){
                #<span class="event-location">${Location}</span>: #
                } #
                ${Description}
            </p>
        </div>
    </div>
</script>
    