<!--Events template-->
<script type="text/x-kendo-tmpl" id="events-favourite-template">
    <div class="event-selectors" uob-content-id="${ContentId}">
    	<a class="remove-favourite" data-role="button" data-icon="trash"></a>
        <div class="event-schedule km-icon km-personalschedule"></div>
    </div>
    <div>
        <h1 class="events-header">#= StartTimeInUk# - #=EndTimeInUk# #= Title# # if (AttendanceDuration>0){ #(Allow #= AttendanceDuration# minutes)#} # </h1>
    </div>
    <div class="event-details">
        <p>
            # if (Location && Location.length){ 
                if (BuildingIds && BuildingIds.length){
            #<a href="\\#tabstrip-map?buildingId=${BuildingIds[0]}">${Location}</a>: #
                }
                else{
            #${Location}: #
                }    
            } #
            ${Description}
        </p>
    </div>
</script>
    