/*Initialise the buttons that are internet-based to hide.*/
#tabstrip-home li.webSiteButton,
#tabstrip-home li.eventServiceButton,
#tabstrip-home li.mapServiceButton,
#tabstrip-home li.startDatesButton,
#tabstrip-home li.webConnectionButton,
#appFooter a.webSiteButton,
#appFooter a.eventServiceButton,
#appFooter a.mapServiceButton,
#appFooter a.startDatesButton,
#appFooter a.webConnectionButton
{
    display: none;
}

#tabstrip-home .open-day-date-selector
{
    display: none;
}

#appBody div#consoleLog p{
    color: green;
}

#appBody div#error-message p,
#appBody div#consoleLog p.logError
 {
    color: red;
}

#appBody div#cache-message p,
#appBody div#consoleLog p.logCache,
#appBody div#consoleLog p.logWarning
 {
    color: orange;
}

/* Drop down always appears too high */
#appBody .k-dropdown
{
    width: 50%;
    top: 65%
}

/* iOS doesn't need to be so high */

#appBody.km-on-ios .k-dropdown
{
    top: 60%;
}

/* iOS 7 needs highlighting */

/* Drop down always appears too high */
#appBody.km-on-ios.km-ios7 .k-dropdown
{
    background-color: #F4F4F4;
    line-height: 1.2em;
    border-radius: 5px;
    top: 65%;
    margin-right: .3em;
}

/*Events listings */


#appBody .event-favourite,
#appBody .event-schedule
{
    float: right;
    font-size: 2em;
    margin-right: .5em;
    padding-left: .2em;
    float: right;   
}

#appBody .favourite-true
{
    color: red;
    }

#appBody .favourite-false
{
    color: blue;
    }


#appBody .schedule-false
{
    color: blue;
    }

#appBody .schedule-true
{
    color: green;
    }

#appBody .moveup-false,
#appBody .movedown-false
{
    display: none;
    }

#appBody .moveup-true,
#appBody .movedown-true
{
    display: block;
    color: green;
    height: 1em;
    font-size: 2.5em;
    }

