/*Initialise the buttons that are internet-based to hide.*/
#tabstrip-home li.webSiteButton,
#tabstrip-home li.eventServiceButton,
#tabstrip-home li.mapServiceButton,
#tabstrip-home li.startDatesButton,
#tabstrip-home li.webConnectionButton,
#appFooter a.webSiteButton,
#appFooter a.eventServiceButton,
#appFooter a.mapServiceButton,
#appFooter a.startDatesButton,
#appFooter a.webConnectionButton
{
    display: none;
}

#tabstrip-home .open-day-date-selector
{
    display: none;
}

#appBody div#consoleLog p{
    color: green;
}

#appBody div#error-message p,
#appBody div#consoleLog p.logError
 {
    color: red;
}

#appBody div#cache-message p,
#appBody div#consoleLog p.logCache,
#appBody div#consoleLog p.logWarning
 {
    color: orange;
}

/*Events listings */

#appBody .events-type .k-dropdown
{
    width: 50%;
    top: 60%
}

#appBody .event-favourite,
#appBody .event-schedule
{
    float: right;
    font-size: 2em;
    margin-right: .5em;
    padding-left: .2em;
    float: right;   
}

#appBody .favourite-true
{
    color: red;
    }

#appBody .favourite-false
{
    color: blue;
    }


#appBody .schedule-false
{
    color: blue;
    }

#appBody .schedule-true
{
    color: green;
    }

#appBody .moveup-false,
#appBody .movedown-false
{
    display: none;
    }

#appBody .moveup-true,
#appBody .movedown-true
{
    display: block;
    color: green;
    }

/* Map */

#appBody #mapMessage
{
    padding-top: .5em;
    padding-left: .3em;
    color: white;
}
