/*Initialise the buttons that are internet-based to hide.*/
#tabstrip-home li.webSiteButton,
#tabstrip-home li.eventsRepositoryButton,
#tabstrip-home li.mapRepositoryButton,
#tabstrip-home li.startDatesButton,
#tabstrip-home li.webConnectionButton,
#appFooter a.webSiteButton,
#appFooter a.eventsRepositoryButton,
#appFooter a.mapRepositoryButton,
#appFooter a.startDatesButton,
#appFooter a.webConnectionButton
{
    display: none;
}

#tabstrip-home .open-day-date-selector
{
    display: none;
}

/* Basic colour overrides */
/* Set the background colour to be white to match the image*/
body#appBody,
body#appBody.km-flat,
body#appBody.km-flat .km-navbar,
body#appBody.km-flat .km-content
{
    background-color: #FFF;
    color: #757577;
}

.km-flat .km-content

body#appBody .km-state-active,
body#appBody .km-state-active .km-listview-link,
body#appBody .km-tabstrip .km-state-active
{
    background-color: #C1D72F;
}

body#appBody.km-flat .km-button.km-back
{
    background-color: #D7F0F9;
}

/* Console log colours */
#appBody div#consoleLog p{
    color: #6FC055;
}

#appBody div#consoleLog p.logError
{
    color: #B1006F;
}

#appBody div#consoleLog p.logInfo
{
    color: #00BAE5;
}
#appBody div#consoleLog p.logWarning{
    color: #F7941D;
}

#appBody div#status-message p
{
    color:#B1006F;
}

#appBody div#loading-message p
{
    color: #B1006F;
}

/* Drop down always appears too high */
#appBody .k-dropdown
{
    background-color: #F4F4F4;
    line-height: 1.2em;
    border-radius: 5px;
    width: 50%;
    top: 62%;
    margin-right: .3em;
}

#appBody .acknowledgementButton
{
    float:right;
    padding-top: 3em;
    margin-right: 2em;
    font-size: .7em;
}

/*Events listings */
#appBody .events-list>li
{
    padding-bottom: 0;
}

#appBody .events-list div.highlightEvent{
    background-color: #A0D8F6;
}

#appBody .events-list li>div
{
    float: left;
    width: 100%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.0980392);
	padding-bottom: .2em;
}

#appBody .events-list h1
{
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
}


#appBody .events-list .event-details p
{
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

#appBody .activitiesButton
{
    color: #B1006F;
}

#appBody .event-favourite,
#appBody .event-schedule
{
    box-sizing: content-box;
    font-size: 2.35em;
    padding-right: .1em;
    padding-left: .1em;
    margin-right: .1em;
}
#appBody .event-favourite
{
    float: left;
    margin-left: 0;
}
#appBody .event-schedule
{
	float: right;
	margin-left: .1em;
    padding-left: .1em;
}

#appBody .favourite-true,
#appBody .favouritesButton
{
    color: #EF549F;
    }

#appBody .favourite-false
{
    color: #00BAE5;
    }


#appBody .schedule-false
{
    color: #00BAE5;
    }

#appBody .schedule-true,
#appBody .scheduleButton
{
    color: #6FC055;
    }

#appBody .mapButton
{
    color: #00BAE5;
}

#appBody .faqButton
{
    color: #A053A0;
}

#appBody .gettingHereButton{
    color: #757577;
}

#appBody .moveup-false,
#appBody .movedown-false
{
    display: none;
    }

#appBody .moveup-true,
#appBody .movedown-true
{
    display: block;
    color: #6FC055;
    height: 1em;
    font-size: 2.5em;
    }

