/*Initialise the buttons that are internet-based to hide.*/
#tabstrip-home li.webSiteButton,
#tabstrip-home li.eventsRepositoryButton,
#tabstrip-home li.mapRepositoryButton,
#tabstrip-home li.startDatesButton,
#tabstrip-home li.webConnectionButton,
#tabstrip-home li.initialiseHidden,
#appFooter a.webSiteButton,
#appFooter a.eventsRepositoryButton,
#appFooter a.mapRepositoryButton,
#appFooter a.startDatesButton,
#appFooter a.webConnectionButton
{
    display: none;
}

#tabstrip-home .open-day-date-selector
{
    display: none;
}

/* Basic colour overrides */
/* Set the background colour to be white to match the image*/
body#appBody,
body#appBody.km-flat,
body#appBody.km-flat .km-navbar,
body#appBody.km-flat .km-content
{
    background-color: #FFF;
    color: #757577;
}

.km-flat .km-content

body#appBody .km-state-active,
body#appBody .km-state-active .km-listview-link,
body#appBody .km-tabstrip .km-state-active
{
    background-color: #C1D72F;
}

body#appBody.km-flat .km-button.km-back
{
    background-color: #D7F0F9;
}

/* Console log colours */
#appBody div#consoleLog p{
    color: #6FC055;
}

#appBody div#consoleLog p.logError
{
    color: #B1006F;
}

#appBody div#consoleLog p.logInfo
{
    color: #00BAE5;
}
#appBody div#consoleLog p.logWarning{
    color: #F7941D;
}

#appBody div#status-message p
{
    color:#B1006F;
}

#appBody div#loading-message p
{
    color: #B1006F;
}

/* Drop down always appears too high */
#appBody .k-dropdown
{
    background-color: #F4F4F4;
    line-height: 1.2em;
    border-radius: 5px;
    width: 50%;
    top: 62%;
    margin-right: .3em;
}

#appBody .bottomRow
{
	padding:1em;
}

#appBody .bottomRow a.km-button
{
	font-size: .75em;
}

#appBody .acknowledgementButton
{
    float:right; 
    padding-top: 1.5em;
    margin-right: 2em;
    font-size: .7em;
}

#appBody .helpIcon{
margin-left: .2em;
    }

/*Events listings */
#appBody .events-list>li
{
    padding-bottom: 0;
}


#appBody .searchHolder
{
    position: relative;
    margin: 0 .7em;
    padding: .2em .4em;
    border: 1px solid transparent;
}
.km-tablet #appBody .searchHolder {
    max-width: 24em;
    margin: 0 auto;
}
#appBody .searchHolder input
{
    width: 65%;
    margin-left: .4em;
}

#appBody .searchHolder a
{
    font-size: 75%;
}

#activityStatus{
    margin-right: 2em;
    float: right;
    font-size: .75em;
}

#appBody .events-list div.highlightEvent{
    background-color: #A0D8F6;
}

#appBody .events-list li
{
    width: 100%;
}

#appBody .event-details
{
    border-bottom: solid 1px rgba(0,0,0,0.1);
	padding-bottom: .2em;
}

#appBody .events-header
{
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
}

#appBody  .event-details p
{
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

#appBody .event-location
{
    text-decoration: underline;
}

#tabstrip-home .km-content  .activitiesButton
{
    color: #B1006F;
}
#appBody .show-location
{
    font-size: 1.1em;
    padding: .1em .4em;
    width: auto;
    color: #00BAE5;
    margin-right: .2em;
}
#appBody .event-selectors
{
    float: right;
    margin: 0;
    padding: 0;
}

#appBody .event-schedule
{
    box-sizing: content-box;
    font-size: 2.35em;
    padding-right: .3em;
    padding-left: .3em;
    margin-right: 0em;
    margin-left: 0em;
    margin-top:0;
    margin-bottom: 0;
    padding-top:0;
    padding-bottom: 0;
    width: auto;
}

#appBody .event-schedule{
 	float:right;
     color: #00BAE5;
}


#appBody .schedule-true,
#tabstrip-home .km-content .scheduleButton,
#appBody .scheduleColour
{
    color: #6FC055;
    }

#tabstrip-home .km-content .mapButton
{
    color: #00BAE5;
}

#tabstrip-home .km-content  .faqButton
{
    color: #A053A0;
}

#appBody .gettingHereButton{
    color: #757577;
}

#appBody .event-details
{
    border: none;
	padding-bottom: .2em;
}

#appBody .schedule-item 
{
    border-bottom: solid 1px rgba(0,0,0,0.1);
    float: left;
    width: 100%;
}

#appBody .remove-schedule
{
    width: auto;
    font-size: .65em;
    top: -.3em;
    float: right;
    margin-left: .2em;
}

#appBody .schedule-movers
{
    float: right;
    margin-right: .2em;
}

#appBody .event-move-earlier,
#appBody  .event-move-later
{
    display: none;
}

#appBody .move-earlier-true,
#appBody .move-later-true
{
    width: auto;
    display: block;
    color: #6FC055;
    height: 1em;
    font-size: 2.5em;
    padding-left: .1em;
    padding-right: .1em;
    margin-left: .1em;
    margin-right: .1em;
    }

#appBody .iframeHolder
{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}
#appBody .iframeHolder iframe
{
    width: 100%;
}