/*Initialise the buttons that are internet-based to hide.*/
#tabstrip-home li.webSiteButton,
#tabstrip-home li.eventsRepositoryButton,
#tabstrip-home li.mapRepositoryButton,
#tabstrip-home li.startDatesButton,
#tabstrip-home li.webConnectionButton,
#appFooter a.webSiteButton,
#appFooter a.eventsRepositoryButton,
#appFooter a.mapRepositoryButton,
#appFooter a.startDatesButton,
#appFooter a.webConnectionButton
{
    display: none;
}

#tabstrip-home .open-day-date-selector
{
    display: none;
}

/* Set the background colour to be white to match the image*/
body#appBody,
body#appBody.km-flat,
body#appBody.km-flat .km-navbar,
body#appBody.km-flat .km-content
{
    background-color: #FFF;
}

/* Console log colours */
#appBody div#consoleLog p{
    color: green;
}

#appBody div#consoleLog p.logError
{
    color: red;
}

#appBody div#consoleLog p.logInfo
{
    color: blue;
}
#appBody div#consoleLog p.logWarning{
    color: orange;
}

#appBody div#status-message p
{
    color:red;
}

#appBody div#loading-message p
{
    color:orange;
}

/* Drop down always appears too high */
#appBody .k-dropdown
{
    background-color: #F4F4F4;
    line-height: 1.2em;
    border-radius: 5px;
    width: 50%;
    top: 62%;
    margin-right: .3em;
}

/*Events listings */
#appBody .events-list>li
{
    padding-bottom: 0;
}


#appBody .events-list li>div
{
    border-bottom: solid 1px rgba(0, 0, 0, 0.0980392);
	padding-bottom: .2em;
}

#appBody .events-list h1
{
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
}


#appBody .events-list .event-details p
{
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

#appBody .event-favourite,
#appBody .event-schedule
{
    box-sizing: content-box;
    font-size: 2.35em;
    padding-right: .1em;
    padding-left: .1em;
    margin-right: .1em;
}
#appBody .event-favourite
{
    float: left;
    margin-left: 0;
}
#appBody .event-schedule
{
	float: right;
	margin-left: .1em;
    padding-left: .1em;
}

#appBody .favourite-true
{
    color: red;
    }

#appBody .favourite-false
{
    color: blue;
    }


#appBody .schedule-false
{
    color: blue;
    }

#appBody .schedule-true
{
    color: green;
    }

#appBody .moveup-false,
#appBody .movedown-false
{
    display: none;
    }

#appBody .moveup-true,
#appBody .movedown-true
{
    display: block;
    color: green;
    height: 1em;
    font-size: 2.5em;
    }

