/* MAP STYLES*/
#no-map {
    position: absolute;
    margin: 0 auto;
    top: 40%;    
    text-align: center;
}

#map-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map-header, #map-options {
    position: absolute;
    z-index: 10;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#map-header{
    background-color: rgba(0, 0, 0, 0.5);
}
#map-options{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);   
}

#map-show-options {
    float: left;
    background-color: rgba(255,255,255,.8);
    color: #757577;
    font-size: 32px;
    padding: 2px;
    padding-right: 5px;
    padding-bottom: 1px;
}

#appBody #map-header .mapMessage,
#appBody #map-header .mapStatus
{
    color: white;
    padding-top: .5em;
}

#appBody #map-header .mapMessage
{    
    width: 60%;
    float: left;
    padding-left: 1em;
}

#appBody #map-header .mapStatus
{
    width:15%;
    float: right;
    font-size: .6em;
    padding-left: .3em;
	padding-right: .3em;
}
#appBody #map-options
{
    bottom: 0;
    color: #fff;
    font-size: .8em;
    padding-top: 2px;
}

#appBody .headerLines{
    width: 30%;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    height: 4px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}


#appBody #map-options div.mapOptionsGroup
{
    float: left;
    width: 100%;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    padding: .5em;
}


#appBody #map-options div.mapOptionsGroupHeader,
#appBody #map-options div.mapOption
{
  
    float: left;
}

#appBody #map-options div.mapOptionsGroupHeader
{
    width: 100%;   
}

#appBody #map-options div.mapOption{
    width: 50%
}

#appBody #map-options div.mapOptionsGroupHeader
{
    font-size: 1.1em;
    font-weight: bold;
    padding-top: .2em;
    padding-bottom: .2em;
}

#appBody #map-options div.mapOption img{
    height: 2.5em;
    float: left;
}
#appBody #map-options div.mapOption div.buttonText{
    float: left;
    padding-left: .5em;
    padding-top: .65em;
    width:80%;
}

