/* MAP STYLES*/
#no-map {
    position: absolute;
    margin: 0 auto;
    top: 40%;    
    text-align: center;
}

#map-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map-header, #map-options {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#map-show-options {
    float: left;
    width: 40px;
    height: 40px;
    color: #fff;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 32px;
    padding: 2px;
    margin: 0;
}

#appBody #map-header .mapMessage,
#appBody #map-header .mapStatus
{
    color: white;
    padding-top: .5em;
    padding-left: .3em;
}

#appBody #map-header .mapMessage
{    
    width: 60%;
    float: left;
}

#appBody #map-header .mapStatus
{
    width:15%;
    float: right;
    font-size: .6em;
	padding-right: .3em;
}
#appBody #map-options
{
    bottom: 0;
    color: #fff;
    font-size: .8em;
    padding-top: 2px;
}

#appBody .headerLines{
    width: 100%;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    height: 4px;
}

#appBody #map-options div.mapOptionGroupHeader,
#appBody #map-options div.mapOption
{
    width: 100%;   
    float: left;
}

#appBody #map-options div.mapOptionGroupHeader
{
    font-size: 1.1em;
    font-weight: bold;
    padding-top: .2em;
    padding-bottom: .2em;
}

#appBody #map-options div.mapOption img{
    height: 2.5em;
    float: left;
}
#appBody #map-options div.mapOption div.buttonText{
    float: left;
    padding-left: .5em;
    padding-top: .65em;
}

