/* MAP STYLES*/
#no-map {
    position: absolute;
    margin: 0 auto;
    top: 40%;    
    text-align: center;
}

#map-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map-header {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#map-return-to-campus {
    float: left;
    width: 40px;
    height: 40px;
    color: #fff;
    border: none;
    background: none;
    background-image: url(../styles/images/location.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#map-return-to-campus:active {
    background-image: url(../styles/images/location_active.png);
    background-repeat: no-repeat;
}

#appBody #map-header .mapMessage,
#appBody #map-header .mapStatus
{
    width: 60%;
    padding-top: .5em;
    padding-left: .3em;
    color: white;
    float: left;
}

#appBody #map-header .mapStatus
{
    width:20%;
    float: right;
    padding-right: 1em;
}
