<!--Events template-->
    <script type="text/x-kendo-tmpl" id="events-template">
        <!--<div>
            <div class="position-left">
                <span class="event-info title">${Title}</span>
            </div>
            <div class="position-center">
                <span class="event-icon ${EventImageUrl}"></span>
            </div>
        </div>-->
        <div class="event-item">
        
            <h3>#:Title#</h3>
            <p>#:DateDescription#</p>
            <p>#:EventUrl#</p>
        </div>
    </script>
    